@use "sass:math";

//<МИКСИНЫ>===============================================================================================
@import "mixins";
%set_font_value {
  font-family: Intro;
  font-weight: 400;
    color: $color_white;
}
%set_font_value_small {
  font-family: Mont;
  font-weight: 600;
    color: $color_white;
}
@mixin h1 {
  @extend %set_font_value;
  @include adaptiv-value-to(font-size, 44, 32, 320);
  @include adaptiv-value-to(line-height, 44, 32, 320);
}

@mixin h2($type) {
  @extend %set_font_value;
  text-align: center;
  @if $type == 1 {
    @include adaptiv-value-to(font-size, 36, 24, 320);
    @include adaptiv-value-to(line-height, 36, 24, 320);
  } @else {
    @include adaptiv-value-to(font-size, 44, 24, 320);
    @include adaptiv-value-to(line-height, 44, 24, 320);
  }
}

@mixin h3($type) {
  font-family: Mont;
  font-weight: 800;

  @if $type == 1 {
    @include adaptiv-value-to(line-height, 24, 18, 320);
    @include adaptiv-value-to(font-size, 24, 18, 320);
  } @else if $type == 2 {
    @include adaptiv-value-to(font-size, 14, 12, 320);
    @include adaptiv-value-to(line-height, 18, 15, 320);
  } @else {
    @include adaptiv-value-to(font-size, 24, 18, 320);
    @include adaptiv-value-to(line-height, 31, 18, 320);
  }
  color: $color_widget;
  text-align: center;
}

@mixin widget_elements_font_value {
  @extend %set_font_value;
  font-size: 16px;
  line-height: 16px;
}

@mixin primary_text_value($type) {
  @extend %set_font_value_small;
  @include adaptiv-value-to(font-size, 14, 10, 320);
  @include adaptiv-value-to(line-height, 18, 12, 320);
  text-align: center;
  @if $type == 1 {
    @include adaptiv-value-to(font-size, 20, 12, 320);
    @include adaptiv-value-to(line-height, 20, 12, 320);
    color: #000;
  }
}
@mixin link {
  @extend %set_font_value_small;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
// &display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//</Спрайты>==========================================================================================
@import "sprites";
//</Спрайты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Mont;
$fontSize: 20;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
@import "variables";

$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: $color_white;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

html {
  // height: 100vh;
  // width: 100%;
}
body {
  background-color: $color_background_dark;
  color: $mainColor;
  font-family: $fontFamily;
  font-weight: 600;
  @include adaptiv-value-to(font-size, $fontSize, 12, 320);
  @include adaptiv-value-to(line-height, 26, 15, 320);
  span {
    color: red;
  }
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #000;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: ($md1 + px)) {
    max-width: 970px;
  }
  @media (max-width: ($md2+px)) {
    max-width: 750px;
  }
  @media (max-width: ($md3+px)) {
    max-width: none;
    padding: 0 15px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms";
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "../../components/components";
@import "../../modules/modules";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
